{% extends 'motherwise/base_account.html' %}
{% block title %}Reset Password{% endblock %}
{% block body %}

<br>
<br>
<br>

<style>

html, body{
  background: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("/static/images/landing/2.jpeg") no-repeat center center fixed;
  background-size:cover;
}

.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}

#edit {
  border-radius: 5px;
  max-width:400px;
  width:auto;
  height:auto;
  margin-top: 2% auto;
  margin-bottom: auto;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
  /*background:linear-gradient(0deg,rgba(20,150,250,0.2),rgba(0,100,250,0.2));*/
  background:linear-gradient(0deg,rgba(200,250,250,0.3),rgba(200,200,250,0.3));
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

input {
  border-radius: 50px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 100%;
  height: 42px;
  opacity:0.95;
  float: middle;
  padding: 0px 15px;
  color:black;
  text-align:left;
}

a {
  text-decoration:inherit
}

.form-group {
  overflow: hidden;
  width:100%;
}

.icon-case {
  width: 8%;
  float: left;
  border-radius: 50px 0px 0px 50px;
  background:green;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-top:11px;
}

i {
  color:yellow;
}

.contentform {
  padding: 20px;
  float:middle;
  margin:auto;
}

.bouton-update{
  background-color: #0077b3;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  opacity:0.95;
  padding: 12px 18px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

textarea {
  border-radius: 5px;
  border: 1px solid #EEE;
  width: 100%;
  height: 80px;
  float: left;
  padding: 10px 15px;
  opacity: 0.8;
  color:black;
  text-align:left;
}


.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  box-sizing: border-box;
  padding: 0px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

.pan {
  max-width:500px;
  width:auto;
  height:auto;
  margin-bottom: auto;
  margin-left:auto;
  margin-right:0;
  opacity:0.9;
  overflow: hidden;
}

.pan2 {
  max-width:500px;
  width:auto;
  height:auto;
  margin-bottom: auto;
  margin-left:0;
  margin-right:auto;
  opacity:0.9;
  overflow: hidden;
}

th {color:white;}

td {text-align:middle;}

#myBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

#myBtn:hover {
  background-color: blue;
}

#admin{
    display:none;
}

.slide {
    display: inline-block;
}

label input {
  display: none;/* <-- hide the default checkbox */
}

label span {/* <-- style the artificial checkbox */
  height: 25px;
  width: 25px;
  border:2px solid white;
  margin-right:20px;
  display: inline-block;
  position: relative;
  color:white;
}

[type=checkbox]:checked + span:before {
/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  top: 0px;
  left: 5px;
}

.cohort-panel-button{
    width:55px; height:55px; float:left; padding:8px; border-radius:5px;
}

#cohortSelBox {
  border-radius: 50px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 100%;
  display:inline-block;
  overflow:hidden;
  opacity:0.95;
  float: middle;
}

select {
  width: 100%;
  height: 42px;
  border:0px;
  outline:none;
  padding: 0px 15px;
  color:black;
  text-align-last:center;
}

option{
    text-align-last:center;
}

#backgroundOverlay{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

.button-text{
    font-size:11px;
    color:black;
    padding:3px 0px 0px 0px;
}

#snackbar {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

</style>

<script type="text/javascript">
window.onload = function() {
	window.moveTo(0, 0);
	window.resizeTo(screen.availWidth, screen.availHeight);
}
</script>

<script>
    var sss = false;
	history.pushState(null, null, location.href);
    history.back();
    history.forward();
    window.onpopstate = function () { history.go(1); if(sss){console.log('back button pressed'); window.location.href = '/home'; sss=false; setTimeout(function(){ sss=true; }, 1000);} };
    setTimeout(function(){ sss=true; }, 1000);
</script>

{% if note %}<script>alert('Admin account has been updated');</script>{% endif %}

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>

<img src="/static/images/vacaylogo.jpg" style="position:relative; width:50px; height:auto; z-index:100; left:2%; margin-top:3%; border-radius:50%;">

<div id="edit">
    <h1 style="font-size:25px; font-weight:800; margin:auto; color: #fff; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); margin-top:20px; text-align:center;">Reset Password</h1>
    <br>
    <div>
        <div class="contentform">
            <div class="formcontent">
                <form action="/edit_account/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" name="email" data-rule="required" data-msg="" required id="email" value="{{admin.email}}" readonly>
                    </div>

                    <br>

                    <div class="form-group" style="position:relative;">
                        <input type="password" name="oldpassword" data-rule="required" data-msg="" required id="oldpassword" value="" placeholder="Old password" autocomplete="new-password">

                        <br><br>

                        <input type="password" name="newpassword" data-rule="required" data-msg="" required id="newpassword" value="" placeholder="New password">

                        <a href="javascript:void(0)" onclick="javascript:togglePasswordShow();">
                            <div id="showButton" style="position:absolute; right:10px; top:10px;"><span style="font-size:20px; color:gray;" class="fa fa-eye"></span></div>
                        </a>
                        <br>
                    </div>
                    <div class="form-group" style="margin-top:30px; margin-bottom:30px;">
                        <center><button type="submit" class="bouton-update">UPDATE</button></center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="messageBox3" style="font-size:16px; font-weight:300; color: black; z-index:999;
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	transform:translate(-50%, -50%); min-width:300px; max-width:600px; width:auto; top:320px; display:none;">
    <img id="msg_logo" style="width:50px; height:50px; float:left;" class="centered-and-cropped" src="/static/images/ic_profile.png">
    <span class="fa fa-close" style="font-size:20px; float:right; margin-top:5px;" onclick="javascript:dismissLayouts(); document.getElementById('messageBox2').style.display='none'; document.getElementById('backgroundOverlay').style.display='none';"></span>
    <div style="width:100%; display:inline-block;">
        <div>
            <div style="font-size:18px; font-weight:600; color: black; text-align:center; width:100%;" id="cohortmessageboxtitle">SEND MESSAGE</div><br>
            <form action="/send_cohort_message/" method="post" enctype="multipart/form-data" style="width:100%;" id="cohortMsgForm">
                {% csrf_token %}
                <div class="form-group">
                    <input style="height:5px; opacity:0;">
                    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
                    <textarea rows="8" name="message" required id="textarea2" placeholder="Write something here..."
                        style="width:100%; height:150px; min-height:150px; max-height:300px; border:1px solid #ccc; padding:15px; border-radius:5px;"></textarea>
                    <script>autosize(document.getElementById("textarea2"));</script>
                </div>
                <input hidden id="selected_cohort" name="cohort" value="">
                <center><img src="/static/images/processing.gif" style="width:80px; height:50px; display: none;" id="gif3"></center>
                <center>
                    <button type="button" class="bouton-update" style="width:60%; margin-bottom:20px;"
                        onclick="javascript:formSubmit(document.getElementById('cohortMsgForm'), document.getElementById('gif3'), 'Message sent.');">Submit</button>
                </center>
            </form>
        </div>
    </div>
</div>


<div id="cohortBox" style="font-size:16px; font-weight:300; color: black; z-index:999;
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	transform:translate(-50%, -50%); min-width:300px; max-width:600px; width:auto; top:320px; display:none;">
    <img style="width:50px; height:50px; float:left; border-radius:50%; margin-right:10px;" class="centered-and-cropped" src="/static/images/ic_profile.png">
    <span class="fa fa-close" style="font-size:20px; float:right; margin-top:5px;"
        onclick="javascript:dismissLayouts(); document.getElementById('cohortBox').style.display='none'; document.getElementById('backgroundOverlay').style.display='none';"></span>
    <div style="width:100%; display:inline-block;">
        <div>
            <div style="font-size:18px; font-weight:600; color: black; text-align:center; width:100%;">CONNECT WITH A GROUP</div><br>
            <form action="/do_cohort/" method="post" enctype="multipart/form-data" style="width:100%;" id="cohortform">
                {% csrf_token %}
                <div class="form-group" id="cohortSelBox">
                    <select name="cohort" required id="cohort2" style="width:100%; color:black;">
                    </select>
                    <script>
                        var x = document.getElementById("cohort2");
                        for(var i=0; i<51; i++){
                            var option = document.createElement("option");
                            if(i == 0) {
                                option.text = "--Please choose a group--";
                                option.value = "";
                            }
                            else option.text = "Group-" + String(i);
                            x.add(option);
                        }
                    </script>
    			</div>

    			<input hidden id="cohort_option" name="option" value="">

                <div class="form-group" style="margin-top:10px; text-align:center;">

                    <div style="width:auto; display:inline-block;">
                        <a href="javascript:void(0)" onclick="javascript:doCohort('members');" style="display:inline-block; text-align:center;">
                            <img class="cohort-panel-button" src="/static/images/ic_group.png" style="background-color:orange;"><br>
                            <label class="button-text">Members</label>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:doCohort('video');" style="display:inline-block; text-align:center;">
                            <img class="cohort-panel-button" src="/static/images/ic_video.png" style="margin-left:10px; background-color:red;"><br>
                            <label class="button-text" style="margin-left:5px;">Video</label>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:toCohortGroupChat();" style="display:inline-block; text-align:center;">
                            <img class="cohort-panel-button" src="/static/images/ic_group_chat.png" style="margin-left:10px; background-color:#0066cc;"><br>
                            <label class="button-text" style="margin-left:4px;">Group Chat</label>
                        </a>
                    </div>

                    <script>
                        function toCohortGroupChat(){
                            var cht = document.getElementById('cohort2').value;
                            if(cht.length == 0){
                                alert('Please choose a group.');
                                return;
                            }
                            window.location.href = "/group_cohort_chat?cohort=" + cht;
                        }
                    </script>

                    <br>

                    <div style="width:auto; display:inline-block; margin-top:10px;">
                        <a href="javascript:void(0)" onclick="javascript:doCohort('group_chat');" style="display:inline-block; text-align:center;">
                            <img class="cohort-panel-button" src="/static/images/ic_group.png" style="background-color:#008080;"><br>
                            <label class="button-text">Communs</label>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:doCohort('private_chat');" style="display:inline-block; text-align:center;">
                            <img class="cohort-panel-button" src="/static/images/ic_chat.png" style="margin-left:10px; background-color:green;"><br>
                            <label class="button-text" style="margin-left:5px;">Priv Chat</label>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:openCohortMessageBox(document.getElementById('cohort2').value);" style="display:inline-block; text-align:center;">
                            <img class="cohort-panel-button" src="/static/images/ic_message.png" style="margin-left:10px; background-color:brown;"><br>
                            <label class="button-text" style="margin-left:5px;">Message</label>
                        </a>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>



<input type="hidden" id="me_email" value="{{me.email}}">

<div id="backgroundOverlay" onclick="javascript:dismissLayouts();">
</div>

<div id="snackbar">Submited</div>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" id="myBtn" title="Top"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

var showF = false;

function togglePasswordShow(){
    var oldpasswordBox = document.getElementById("oldpassword");
    var newpasswordBox = document.getElementById("newpassword");
    var showButton = document.getElementById("showButton");
    if (!showF) {
        oldpasswordBox.type = "text";
        newpasswordBox.type = "text";
        showF = true;
        showButton.innerHTML = "<span style=\"font-size:20px; color:gray;\" class=\"fa fa-eye-slash\"></span>";
    } else {
        oldpasswordBox.type = "password";
        newpasswordBox.type = "password";
        showF = false;
        showButton.innerHTML = "<span style=\"font-size:20px; color:gray;\" class=\"fa fa-eye\"></span>";
    }
}

function dismissLayouts(){
    document.getElementById('messageBox3').style.display='none';
    document.getElementById('cohortBox').style.display='none';
    document.getElementById('backgroundOverlay').style.display='none';
}

function openCohortMessageBox(selected_cohort){
    if(selected_cohort.length == 0){
        alert('Please select a group.');
        return;
    }

    dismissLayouts();
    document.getElementById('messageBox3').style.display='block';
    document.getElementById('backgroundOverlay').style.display='block';
    document.getElementById('cohortmessageboxtitle').innerHTML = 'SEND MESSAGE TO MEMBERS<br>IN ' + String(selected_cohort).toUpperCase();
    document.getElementById('selected_cohort').value = selected_cohort;
}

function doCohort(option){
    if(document.getElementById('cohort2').value == ''){
        alert('Please choose a group.');
        return;
    }
    document.getElementById('cohort_option').value = option;
    var form = document.getElementById("cohortform");
    form.submit();
}

function formSubmit(form, gif, text){
    gif.style.display = "block";
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            showToast(text);
            gif.style.display = "none";
            dismissLayouts();
        }
    };
    xhr.open('POST', form.getAttribute('action'), true);
    xhr.send(formData);
}

function showToast(text) {
    var x = document.getElementById("snackbar");
    x.innerHTML = text;
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

</script>

{% endblock %}


































































