{% extends 'motherwise/base_conference.html' %}
{% block title %}Create A Conference{% endblock %}
{% block body %}

<br>
<br>
<br>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
      WebFont.load({
      google: {
      families: ["Lato:100,300,400,700,900","Karla:regular","Cookie:regular"]
    }
    });
</script>

<style>

html, body{
  background: linear-gradient(0deg,rgba(20,150,250,0.5),rgba(0,100,250,0.5)), url("/static/images/pattern1.jpg") no-repeat center center fixed;
  background-size:cover;
}

img {
  height: 80px;
  width: 80px;
}

.topBtn {
  display: none;
  position: fixed;
  bottom: 20%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.3);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

.topBtn:hover {
  background-color: orange;
}

form h1 {
  font-size: 25px;
  background: #327a81 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:left
}

.conf-form {
  max-width:500px;
  width:auto;
  margin:auto;
  border-radius:5px;
  margin-bottom:3px;
  background:linear-gradient(0deg,rgba(20,150,250,0.6),rgba(0,100,250,0.6));
  background-size:cover;
  overflow: hidden;
}

.conf-form:hover {
  background:linear-gradient(0deg,rgba(100,50,250,0.6),rgba(50,100,250,0.6));
  background-size:cover;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 200;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 50px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 100%;
  height: 42px;
  opacity:0.95;
  float: middle;
  padding: 0px 15px;
  color:black;
  text-align:left;
}

a {
  text-decoration:inherit
}

.form-group {
  overflow: hidden;
  width:100%;
}

.bouton-update{
  background-color: #0077b3;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 12px 18px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.cropping{
    object-fit:cover;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  color:white;
  text-shadow: 2px 2px 4px gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: red;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: orange;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

label.fileBtn {
  display: inline-block;
  /* Styles to make it look like a button */
  padding: 0.5em;
  border: 0;
  border-radius:8px;
  font-size:16px;
  color:white;
  width:auto;
  text-align:center;
  text-decoration: underline;
}

/* Look like a clicked/depressed button */
label.fileBtn:active {
  border-color: #CCC #EEE #EEE #CCC;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.fileBtn input[accept*="video"] {
  display: none;
}

iframe{
    background-image: url("/static/images/video/youtube-backg.png");
    background-size:cover;
}

video{
    background-image: url("/static/images/video/videobackg.jpg");
    background-size:cover;
}

.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  box-sizing: border-box;
  padding: 10px;
}

.contentform {
  float:middle;
  margin:auto;
}

#youtubeurl::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#youtubeurl:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

#youtubeurl::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

#youtubeurl{
    background-color:transparent;
    color:white;
}

#backgroundOverlay{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

</style>

<!--<script>-->
<!--	history.pushState(null, null, location.href);-->
<!--    history.back();-->
<!--    history.forward();-->
<!--    window.onpopstate = function () { history.go(1); };-->
<!--</script>-->

<img src="/static/images/processing.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle;
	transform:translate(-50%, -50%); width:80px; height:auto; z-index:100; top:120px; display: none;" id="gif">

<img src="/static/images/vacaylogo.jpg" style="position:relative; width:50px; height:50px; border-radius:50%; z-index:-1; left:3%;">

<div id="title" style="font-size:25px; font-weight:800; color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center;
	position:fixed; left:50%; float:middle; transform:translate(-50%, -50%); width:350px; z-index:100; top:92px; display:none;">CREATE CONFERENCE</div>

<div style="width:100%; height:auto; margin-top:10px;">

    <div style="font-size:25px; font-weight:800; margin-bottom:20px;
        color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center; width:100%;">CREATE CONFERENCE</div>

    <div class="container-fluid" style="margin-top:2%;">

        <div class="row">
            <div class="col-sm-4" style="text-align:center;">

                <div style="width:auto; text-align:center; font-size:22px; font-family:verdana; font-weight:600; color:white; margin-bottom:30px;">
                    {% if group %}{{group.name}}{% elif cohort %}{{cohort}}{% endif %}
                </div>

            </div>

            <div class="col-sm-4" style="margin-bottom:30px;">

                <form id="form" style="max-width:600px;" action="/create_conference" method="post" enctype="multipart/form-data">
                    <div class="contentform">
        		        <div class="formcontent">
        		            <div style="width:100%; display:inline-block; margin-bottom:20px;">
        		                <input name="group_id" value="{{group.pk}}" hidden>
        		                <input name="cohort" value="{{cohort}}" hidden>
                                <div style="float:left; width:30%; margin-left:3%;">
                                    <label class="container">Live
                                        <input type="radio" checked="checked" name="type" id="live" value="live" onchange="javascript:selectType(this);">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div style="float:left; width:30%; margin-left:2%;">
                                    <label class="container">File
                                        <input type="radio" name="type" id="file" value="file" onchange="javascript:selectType(this);">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div style="float:left; width:30%; margin-left:2%;">
                                    <label class="container">Youtube
                                        <input type="radio" name="type" id="youtube" value="youtube" onchange="javascript:selectType(this);">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <script>
                                function selectType(obj){
                                    if(obj.checked){
                                        if(obj.value == 'live'){
                                            document.getElementById('file_frame').style.display = 'none';
                                            document.getElementById('youtube_frame').style.display = 'none';
                                        }else if(obj.value == 'file'){
                                            document.getElementById('file_frame').style.display = 'block';
                                            document.getElementById('youtube_frame').style.display = 'none';
                                        }else if(obj.value == 'youtube'){
                                            document.getElementById('file_frame').style.display = 'none';
                                            document.getElementById('youtube_frame').style.display = 'block';
                                        }
                                    }
                                }
                            </script>

                            <br>

        		            <div class="form-group" style="margin-bottom:20px; display:none;" id="file_frame">
        		                <center>
            		                <video id="videoresult" autobuffer  controls width="250" autoplay loop style="margin-bottom:5px;">
                                        <source src="" id="videohere"/>
                                    </video>
                        			<div style="width:100%; margin-top:10px;">
                                        <label class="fileBtn">Select a video
                                            <input type="file" name="video" value="http://lorempixel.com/100/100/people/9" id="videofile" accept="video/*"/>
                                        </label>
                                    </div>
        		                </center>
                                <script>
                                    var videofile = null;
                                    $(document).on("change", "#videofile", function(evt) {
                                        var $source = $('#videohere');
                                        $source[0].src = URL.createObjectURL(this.files[0]);
                                        $source.parent()[0].load();
                                        videofile = this.files[0];
                                    });
                    			</script>
                            </div>

                            <div class="form-group" style="margin-bottom:20px; display:none;" id="youtube_frame">
                                <center>
                                    <iframe id="youtuberesult" autobuffer  width="250" style="margin-bottom:5px;" src="" frameborder="0" allowfullscreen>
                                    </iframe>
                                    <div class="input-group" style="width:80%; margin-top:10px;">
                                        <input type="text" class="form-control" name="youtubeurl" id="youtubeurl" value="" placeholder="Enter YouTube ID...">
                                        <span class="input-group-btn">
                                            <button id="play" type="button" class="btn btn-success"><i class="fa fa-play" style="color:white; font-size:18px; padding:1.5px;"></i></button>
                                        </span>
                                    </div>
                                </center>
                                <script>

                    			</script>
                            </div>

                            <div class="form-group">
                                <input type="text" name="name" id="name" data-rule="required" data-msg="" required value="" placeholder="Conference Name">
                        	</div>

                        	<link rel="stylesheet" href="/static/css/jquery.datetimepicker.min.css">
                            <script src="/static/js/jquery.datetimepicker.full.js"></script>

    		                <div class="form-group" style="margin-top:20px;" id="datetimebox" onchange="updatedatetime();">
                                <input type="text" value="" placeholder="Enter conference date and time..." id="fromdateBox" autocomplete="off">
                                <input type="hidden" name="event_time" id="fromdate">
                                    <script>
                                         jQuery('#datetimebox').datetimepicker({
                                            timepicker: true,
    		                                datepicker: true,
                                         });
                                         function updatedatetime(){
                                              var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                                              var datetime = document.getElementById("datetimebox").value;
                                              var year = datetime.substring(0, 4);
                                              var month = datetime.substring(5, 7);
                                              var day = datetime.substring(8, 10);
                                              var hour = datetime.substring(11, 13);
                                              var minute = datetime.substring(14, 16);
                                              var ap = '';
                                              if (parseInt(hour) > 12) {
                                                   hour = String(parseInt(hour) - 12);
                                                   ap = 'PM';
                                              }else ap = 'AM';
                                              var monthindex = parseInt(month);
                                              month = months[monthindex - 1];
                                              document.getElementById("fromdateBox").value = month + ' ' + day + ', ' + year + ' ' + hour + ':' + minute + ' ' + ap;
                                              document.getElementById("fromdate").value = new Date(datetime).getTime();
                                         }
                                    </script>
                    		</div>

                    		<input name="option" id="option" hidden>

                    		<center>
                    		    <div class="form-group" style="margin-top:30px; width:80%;">
                    				<button type="button" class="bouton-update" onclick="javascript:if(progressBar()) {document.getElementById('option').value=''; document.getElementById('form').submit();}">JUST CREATE</button>
                    			</div>

                    			<div style="color:white; opacity:0.8;">Or you can notify this conference to the group</div>

                    			<div class="form-group" style="margin-top:10px; margin-bottom:10%; width:80%;">
                    				<button type="button" class="bouton-update" onclick="javascript:if(progressBar()) {document.getElementById('option').value='message'; document.getElementById('form').submit();}">CREATE & NOTIFY</button>
                    			</div>
                    		</center>

                        </div>
                    </div>

                </form>

            </div>

            <div class="col-sm-4" id="conf-list">

                <div style="width:auto; text-align:center; font-size:22px; font-family:verdana; font-weight:600; color:white; margin-bottom:30px;">
                    Conferences
                </div>

                {% if confs %}
                    <div style="width:100%; max-height:80%; padding-top:1%; padding-bottom:3%; overflow:auto;" id="conf-form">
                        {% for conf in confs %}
                        <div class="conf-form">
                            <div class="contentform">
                                <div style="width:100%; padding-bottom:3px; display:flex;" >
                                    <div style="padding:10px; float:left; position:relative;">
                                        <a href="#">
                                            <img src="{% if conf.type == 'live' %}/static/images/video/live-icon.jpg{% elif conf.type == 'file' %}/static/images/video/video-icon.jpg{% elif conf.type == 'youtube' %}/static/images/video/youtube-icon.jpg{% else %}{% endif %}" style="width:50px; height:50px; border-radius:50%; object-fit:cover;">
                                        </a>
                                    </div>
                                    <a href="/open_conference?conf_id={{conf.pk}}&group_id={{conf.group_id}}&cohort={{cohort}}" style="flex-grow:1;">
                                        <div style="padding-left:8px; margin-top:15px; color: white; float:left; font-size:14px; text-align:left; word-wrap: break-word;">
                                            {{conf.name}}
                                            {% if conf.event_time %}<div style="font-size:12px;">{{conf.event_time}}</div>{% endif %}
                                        </div>
                                    </a>
                                    <div style="float:right; margin:5px;">
                                        <a href="/delconf?conf_id={{conf.pk}}" style="background-color:transparent; margin-left:15px;">
                                            <span class="fa fa-close" aria-hidden="true" style="color:white; font-size:20px;" onclick="return confirm('Are you sure you want to remove this conference?')"></span>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        {% endfor %}

                    </div>
                {%else %}
                        <div style="width:100%; text-align:center;">
                            <br>
                            <br>
                            <h4 style="color:rgba(255,255,255,0.7); margin: 30px;">No conference created ...</h4>
                        </div>

                {% endif %}

            </div>

        </div>

    </div>

</div>

<div id="messageBox" style="font-size:16px; font-weight:300; color: black;
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	transform:translate(-50%, -50%); min-width:300px; max-width:600px; width:auto; z-index:200; top:50%; display:none;">
    <span class="fa fa-close" style="font-size:20px; float:right; margin-top:5px;" onclick="javascript:dismissLayouts();"></span>
    <div style="width:100%; display:inline-block;">
        <div>
            <div style="font-size:18px; font-weight:600; color: black; text-align:center; width:100%;" id="messageboxtitle">SEND MESSAGE TO GROUP<br>
                    <div style="color:green; font-size:14px; font-weight:600;">{% if group %}{{group.name}}{% elif cohort %}{{cohort}}{% endif %}</div></div><br>
            <form action="/group_chat_message/" method="post" enctype="multipart/form-data" style="width:100%;" id="msgForm">
                {% csrf_token %}
                <div class="form-group">
                    <input style="height:5px; opacity:0;">
                    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
                    <textarea rows="8" name="message" required id="textarea" placeholder="Write something here..."
                        style="width:100%; height:150px; min-height:150px; max-height:300px; border:1px solid #ccc; padding:15px; border-radius:5px;"></textarea>
                    <script>autosize(document.getElementById("textarea"));</script>
                </div>
                <input hidden id="group_id" name="group_id" value="{% if group %}{{group.pk}}{% elif cohort %}{{cohort}}{% endif %}">
                <input hidden id="option" name="option" value="{% if group %}group{% elif cohort %}cohort{% endif %}">
                <center>
                    <button type="submit" class="bouton-update" style="width:60%; margin-bottom:20px;">Submit</button>
                </center>

            </form>
        </div>
    </div>
</div>


<div id="backgroundOverlay" onclick="javascript:dismissLayouts();">
</div>


<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" class="topBtn" id="topBtn" style="right:15px;"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
 //   alert("Hello");
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("topBtn").style.display = "block";
        document.getElementById("title").style.display = "block";
    } else {
        document.getElementById("topBtn").style.display = "none";
        document.getElementById("title").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    document.getElementById("member-list").scrollTop = 0;
}

</script>

<script>

$(document).ready(function(){
   $('#play').click(function(){
       document.getElementById("youtuberesult").src = 'https://www.youtube.com/embed/' + document.getElementById("youtubeurl").value +'?autoplay=1';
    });
})

function progressBar(){
    var live = document.getElementById("live");
    var file = document.getElementById("file");
    var youtube = document.getElementById("youtube");
    var youtubeurl = document.getElementById("youtubeurl").value;
    var name = document.getElementById("name").value;
    var event_time = document.getElementById("fromdateBox").value;

    if(file.checked && videofile == null){
        alert('Please select a video file.');
        return false;
    }

    if(name.length == 0){
        alert('Please enter conference name.');
        return false;
    }

    if(live.checked && event_time.length == 0){
        alert('Please enter conference start date and time.');
        return false;
    }

    if(youtube.checked && youtubeurl.length == 0){
        alert('Please enter YouTube video ID.');
        return false;
    }

    document.getElementById("gif").style.display = "block";
    return true;

}


$(document).ready(function() {
   $(document).ready(function() {
        $('#conf-form #date').each(function(i) {
            this.innerHTML = getDate(parseInt(this.innerHTML));
        });
   });
});

function getDate(ms){
    var months = ['January', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var date = new Date(ms);
    var seconds = date.getSeconds();
    var minutes = date.getMinutes();
    var hours = date.getHours();

    var year = date.getFullYear();
    var month = date.getMonth(); // beware: January = 0; February = 1, etc.
    var day = date.getDate();

    var dayStr = day;
    if(day < 10) dayStr = '0' + day;

    var hourStr = hours;
    if(hours < 10) hourStr = '0' + hours;

    var minStr = minutes;
    if(minutes < 10) minStr = '0' + minutes;

    var dateStr = months[month] + ' ' + dayStr + ', ' + year + ' ' + hourStr + ':' + minStr;
    return dateStr;
}



function dismissLayouts(){
    document.getElementById('messageBox').style.display='none';
    document.getElementById('backgroundOverlay').style.display='none';
}

function openMessageBox(option){
    dismissLayouts();
    document.getElementById('messageBox').style.display='block';
    document.getElementById('backgroundOverlay').style.display='block';
}

</script>


{% endblock %}




























































