{% extends 'motherwise/base_notification.html' %}
{% block title %}Notification History{% endblock %}
{% block body %}

<br>
<br>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
      WebFont.load({
      google: {
      families: ["Lato:100,300,400,700,900","Karla:regular","Cookie:regular"]
    }
    });
</script>

<style>

html, body{
  background: linear-gradient(0deg,rgba(20,150,250,0.5),rgba(0,100,250,0.5)), url("/static/images/pattern1.jpg") no-repeat center center fixed;
  background-size:cover;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 16px 16px 16px 0px rgba(0,0,0,0.5);
    z-index: 100;
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 6px;
    text-align: center;
}

.manage {
  border-radius: 10%;
}

.topBtn {
  display: none;
  position: fixed;
  bottom: 20%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.3);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

.topBtn:hover {
  background-color: orange;
}

form h1 {
  font-size: 25px;
  background: #327a81 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:left
}

.user-form {
  max-width:100%;
  width:auto;
  margin:auto;
  border-radius:5px;
  margin-bottom:2px;
  background:#fff;
  background-size:cover;
  overflow: hidden;
}

.user-form:hover {
  background:#fff;
  background-size:cover;
}

.group-form {
  max-width:100%;
  width:auto;
  margin:auto;
  border-radius:10px;
  margin-bottom:2px;
  background:linear-gradient(0deg,rgba(20,150,250,0.6),rgba(0,100,250,0.6));
  background-size:cover;
  overflow: hidden;
}

.group-form:hover {
  background:linear-gradient(0deg,rgba(100,50,250,0.6),rgba(50,100,250,0.6));
  background-size:cover;
}

.contentform {
  padding:5px 10px 5px 10px;
}


p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 200;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 5px;
  border: 1px solid #eee;
  width: 100%;
  height: 42px;
  float: left;
  padding: 0px 15px;
  color:black;
}

a {
  text-decoration:inherit
}

.form-group {
  overflow: hidden;
  width:100%;
}

.bouton-update{
  background-color: green;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#manage-menu {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width:auto;
    background-color:white;
    color:black;
    position: relative; /* <-- Added */
    z-index: 100; /* <-- Added */
}

.menu {
    padding:2px 15px;
}

.menu a{
    color:gray;
}

.menu a:hover {
    color:black;
}

#backgroundOverlay{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

.slide {
    display: inline-block;
}

select {
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 100%;
  height: 42px;
  opacity:0.95;
  float: middle;
  padding: 0px 15px;
  color:black;
  text-align:left;
}

.postform::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background: white;
	border-radius:10px;
}

.postform::-webkit-scrollbar
{
	width: 8px;
	background: gray;
	border-radius:10px;
}

.postform::-webkit-scrollbar-thumb
{
	background: gray;
	width: 8px;
	border-radius:10px;
}


.text {
   overflow: hidden;
   text-overflow: ellipsis;
   word-wrap: break-word;
   white-space: pre-line;
   /*word-break: break-all;*/
   /*display: -webkit-box;*/
   /*-webkit-line-clamp: 10;*/
   /*-webkit-box-orient: vertical;*/
}

.text0 {
   overflow: hidden;
   text-overflow: ellipsis;
   word-wrap: break-word;
   white-space: pre-line;
   /*word-break: break-all;*/
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

#snackbar {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

</style>

<!--<script>-->
<!--    var sss = false;-->
<!--	history.pushState(null, null, location.href);-->
<!--    history.back();-->
<!--    history.forward();-->
<!--    window.onpopstate = function () { history.go(1); if(sss){console.log('back button pressed'); window.location.href = '/home'; sss=false; setTimeout(function(){ sss=true; }, 1000);} };-->
<!--    setTimeout(function(){ sss=true; }, 1000);-->
<!--</script>-->

<div id="no_result" style="font-size:20px; font-weight:300; color: rgba(255,255,255,0.6); text-align:center;
	position:fixed; left:50%; float:middle; padding: 10px 15px 10px 15px;
	transform:translate(-50%, -50%); width:auto; z-index:100; top:250px; display:none;">
    No message found ...
</div>

<img src="/static/images/processing.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle;
	transform:translate(-50%, -50%); width:80px; height:auto; z-index:100; top:120px; display: none;" id="gif">

<img src="/static/images/vacaylogo.jpg" style="position:relative; width:50px; height:50px; border-radius:50%; z-index:-1; left:3%;">

<div id="title" style="font-size:25px; font-weight:800; color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center;  font-family:verdana;
	position:fixed; left:50%; float:middle; transform:translate(-50%, -50%); width:100%; z-index:100; top:110px; display:none;">MESSAGE HISTORY</div>

<div style="width:100%; height:auto;">

    <div style="font-size:25px; font-weight:800; margin-bottom:30px; margin-top:15px;
        color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center; width:100%;">MESSAGE HISTORY</div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3" style="text-align:center;">



        </div>

        <div class="col-sm-6" style="text-align:center;">

            {% if list %}
                <form style="width:100%; height:auto; overflow:hidden;" class="postform">
                    {% for noti in list %}
                        <div class="user-form" id="{{noti.noti.pk}}">
                            <div class="contentform">
                                <div style="width:100%; display:inline-block;" >
                                    <div style="font-size:12px; color:orange;">{{noti.date}}</div>
                                    <div style="padding:0px 5px 5px 5px; float:left; position:relative;">
                                        <a href="{% if noti.sender.photo_url %}{{noti.sender.photo_url}}{% endif %}">
                                            <img src="{% if noti.sender.photo_url %}{{noti.sender.photo_url}}{% else %}/static/images/ic_profile.png{% endif %}" style="width:40px; height:40px; border-radius:50%; object-fit:cover;">
                                        </a>
                                    </div>
                                    <a href="#">
                                        <div style="padding-left:10px; margin-top:5px; color: black; float:left; font-size:14px; text-align:left; word-break: break-all; word-wrap: break-word;">
                                            {% if noti.sender.pk == me.pk %}
                                                Me
                                            {% else %}
                                                {{noti.sender.name}}
                                                <div style="font-size:11px;">{% if noti.sender.cohort == 'admin' %}Manager{% else %}{{noti.sender.cohort}}{% endif %}</div>
                                            {% endif %}
                                        </div>
                                    </a>

                                    {% if noti.sender.pk != me.pk and noti.noti.status == '' %}
                                    <div style="float:right; margin-top:5px; margin-right:15px;">
                                        <button type="button" style="border-radius:10px; border:0; background-color:red; color:white; font-size:16px;"  id="statusBtn{{noti.noti.pk}}"
                                            onclick="javascript:processNewMessage({{noti.noti.pk}}, this);">New</button>
                                    </div>
                                    {% endif %}


                                    <div class="form-group">
                                        {% load tag_library %}
                                        {% if noti.noti.pk == notid|to_int %}
                                        <a href="javascript:void(0);" onclick="javascript:toggle(this);" style="text-decoration:none;">
                                            <div style="text-align:left;" class="text" id="msgBox">{{noti.noti.message}}</div>
                                            <div style="text-align:center;" id="toggleBtn"><i class="fas fa-ellipsis-h" style="width:30px; border-radius:10px; background-color:#E7E7E7; color:black; font-size:16px;"></i></div>
                                        </a>
                                        {% else %}
                                        <a href="javascript:void(0);" onclick="javascript:toggle(this);" style="text-decoration:none;">
                                            <div style="text-align:left;" class="text0" id="msgBox">{{noti.noti.message}}</div>
                                            <div style="text-align:center;" id="toggleBtn"><i class="fas fa-ellipsis-h" style="width:30px; border-radius:10px; background-color:#E7E7E7; color:black; font-size:16px;"></i></div>
                                        </a>
                                        {% endif %}
                                        <script>
                                            function toggle(obj){
                                                var msgBox = obj.querySelector("div#msgBox");
                                                if(hasClass(msgBox, 'text')){
                                                    // document.getElementById('toggleBtn').innerHTML = "More";
                                                    $(obj).children('div #msgBox').removeClass('text').addClass('text0');
                                                }else if(hasClass(msgBox, 'text0')){
                                                    // document.getElementById('toggleBtn').innerHTML = "Less";
                                                    $(obj).children('div #msgBox').removeClass('text0').addClass('text');
                                                }
                                            }
                                            function hasClass(element, cls) {
                                                return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
                                            }
                                        </script>

                                    </div>

                                </div>

                            </div>

                        </div>

                    {% endfor %}

                </form>

                <a href="javascript:void(0)"  onclick="javascript:openMessageBox();">
                    <div style="font-size:16px; text-decoration:underline; float:right; margin:0px 15px 15px 0px; color:red; margin-bottom:10%;">Reply</div>
                </a>

            {% endif %}

        </div>

        <div class="col-sm-3" style="text-align:center;">



        </div>

    </div>

  </div>

</div>

<input type="hidden" id="me_email" value="{{me.email}}">

<div id="messageBox" style="font-size:16px; font-weight:300; color: black;
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	transform:translate(-50%, -50%); min-width:300px; max-width:600px; width:auto; z-index:200; top:320px; display:none;">
    <img style="border-radius:50%; width:50px; height:50px; float:left; object-fit:cover;" src="{% if sender %}{{sender.photo_url}}{% else %}/static/images/ic_profile.png{% endif %}">
    <span class="fa fa-close" style="font-size:20px; float:right; margin-top:5px;" onclick="javascript:dismissLayouts();"></span>
    <div style="width:100%; display:inline-block;">
        <div>
            <div style="font-size:18px; font-weight:600; color: black; text-align:center; width:100%;" id="messageboxtitle">SEND REPLY MESSAGE</div><br>
            <form action="/send_reply_message" method="post" enctype="multipart/form-data" style="width:100%;" id="msgForm">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="member_id" id="member_id" value="{% if sender %}{{sender.pk}}{% endif %}">
                    <input type="hidden" name="noti_id" id="noti_id" value="{{notid}}">
                    <input style="height:5px; opacity:0;">
                    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
                    <textarea rows="8" name="message" required id="textarea2" placeholder="Write something here..."
                        style="width:100%; height:150px; min-height:150px; max-height:300px; border:1px solid #ccc; padding:15px; border-radius:5px;"></textarea>
                    <script>autosize(document.getElementById("textarea2"));</script>
                </div>
                <center><img src="/static/images/processing.gif" style="width:80px; height:50px; z-index:100; display: none;" id="gif2"></center>
                <center>
                    <button type="button" class="bouton-update" style="width:60%; margin-bottom:20px;" onclick="javascript:sendReplyMessage();">Submit</button>
                </center>
                <script>
                    function sendReplyMessage(){
                        var member_id = document.getElementById('member_id').value;
                        var message = document.getElementById('textarea2').value;
                        if(message.length == 0){
                            alert('Please write something in message box.');
                            return;
                        }
                        document.getElementById('gif2').style.display = "block";
                        var form = document.getElementById('msgForm');
                        var formData = new FormData(form);
                        formData.append('member_id', member_id);
                        formData.append('message', message);
                        formData.append('csrfmiddlewaretoken', '{% csrf_token %}');
                        var xhr = new XMLHttpRequest();
                        xhr.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                              showToast();
                              dismissLayouts();
                              document.getElementById('gif2').style.display = "none";
                              window.location.reload(false);
                            }
                        };
                        xhr.open('POST', form.getAttribute('action'), true);
                        xhr.send(formData);
                    }
                </script>
            </form>
        </div>
    </div>
</div>


<form id="readform" action="/processnewmessage" method="POST" enctype="multipart/form-data" style="display:none;">
</form>


<div id="backgroundOverlay" onclick="javascript:dismissLayouts();">
</div>

<div id="snackbar">Message sent!</div>


<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" class="topBtn" id="topBtn" style="right:15px;"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
 //   alert("Hello");
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("topBtn").style.display = "block";                         // Top button display none;
        document.getElementById("navbar").style.backgroundColor = "rgba(0,0,0,0.7)";
        document.getElementById("title").style.display = "block";
    } else {
        document.getElementById("topBtn").style.display = "none";
        // document.getElementById("navbar").style.backgroundColor = "transparent";
        document.getElementById("title").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}


var y = document.getElementsByClassName("text");
var i;
for (i = 0; i < y.length; i++) {
  y[i].innerHTML = urlify(y[i].innerHTML);
}

var y0 = document.getElementsByClassName("text0");
var i0;
for (i0 = 0; i0 < y0.length; i0++) {
  y0[i].innerHTML = urlify(y0[i].innerHTML);
}

function urlify(text) {
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
        return '<a href="' + url + '" style="word-break: break-all;">' + url + '</a>';
    })
}


function openMessageBox(){
    {% if sender %}
        document.getElementById('backgroundOverlay').style.display='block';
        document.getElementById('messageBox').style.display='block';
    {% endif %}
}

function dismissLayouts(){
    document.getElementById('messageBox').style.display='none';
    document.getElementById('backgroundOverlay').style.display='none';
}

function showToast() {
    var x = document.getElementById("snackbar");
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}


$(document).ready(function() {
   $(document).ready(function() {
        $('.postform #date').each(function(i) {
            this.innerHTML = getDate(parseInt(this.innerHTML));
        });
   });
});

function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
       color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

function getDate(ms){
    var months = ['January', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var date = new Date(ms);
    var seconds = date.getSeconds();
    var minutes = date.getMinutes();
    var hours = date.getHours();

    var year = date.getFullYear();
    var month = date.getMonth(); // beware: January = 0; February = 1, etc.
    var day = date.getDate();

    var dayStr = day;
    if(day < 10) dayStr = '0' + day;

    var hourStr = hours;
    if(hours < 10) hourStr = '0' + hours;

    var minStr = minutes;
    if(minutes < 10) minStr = '0' + minutes;

    var dateStr = months[month] + ' ' + dayStr + ', ' + year + ' ' + hourStr + ':' + minStr;
    return dateStr;
}


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

ScrollTo({{notid}});

function ScrollTo(name) {
  //init thread
  ScrollToResolver(document.getElementById(name));
}

function ScrollToResolver(elem) {
//   elem.style.backgroundColor = "#e6f7ff";
  var jump = parseInt(elem.getBoundingClientRect().top * .2);
  document.body.scrollTop += jump - 50;
  document.documentElement.scrollTop += jump - 50;
  //lastjump detects anchor unreachable, also manual scrolling to cancel animation if scroll > jump
  if (!elem.lastjump || elem.lastjump > Math.abs(jump)) {
    elem.lastjump = Math.abs(jump);
    setTimeout(function() {
      ScrollToResolver(elem);
    }, "100");
  } else {
    elem.lastjump = null;
  }
}


function processNewMessage(noti_id, obj){
    console.log("Noti ID: " + noti_id);
    var form = document.getElementById('readform');
    var formData = new FormData(form);
    formData.append('noti_id', noti_id);
    formData.append('csrfmiddlewaretoken', '{% csrf_token %}');
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          $(obj).parent().css("display","none");
        }
    };
    xhr.open('POST', form.getAttribute('action'), true);
    xhr.send(formData);
}


</script>


{% endblock %}




























































