{% extends 'mothers/base_home.html' %}
{% block title %}VaCay{% endblock %}
{% block body %}

<br>
<br>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="utf-8">

<style>

html, body{
  /*background:linear-gradient(0deg,rgba(20,150,250,0.1),rgba(0,100,250,0.1),rgba(0,100,250,0.1)), url("/static/images/222.jpg") no-repeat center center fixed;*/
  background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/static/images/bg.jpg') no-repeat center center fixed;
  background-size:cover;
}

img {
  border-radius: 5%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.3);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: orange;
}

#admin{
    display:none;
}

.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}

#edit {
  border-radius: 15px;
  max-width:550px;
  width:auto;
  margin:auto;
  background-color:rgba(255,255,255,0.1);
  /*background-image: url("/static/images/pattern0.jpg");*/
  /*background-size:cover;*/
  overflow: hidden;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#edit:hover {
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  background-color:rgba(255,255,255,0.2);
  /*background-image: url("/static/images/pattern0.jpg");*/
  /*background-size:cover;*/
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 200;
  line-height: 2;
}

form h1 {
  font-size: 21px;
  background: #327a81 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:left
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  width: 100%;
  height: 42px;
  float: left;
  padding: 0px 15px;
  opacity: 0.8;
  color:blue;
}

.form-group {
  overflow: hidden;
  width:100%;
}

.contentform {
  padding: 10px 10px;
}

.useraddress{
    color:white;
}

.useremail{
    color:white;
}

.useraddress:hover{
    color:white;
}

.useremail:hover{
    color:white;
}

label input {
  display: none;/* <-- hide the default checkbox */
}

label span {/* <-- style the artificial checkbox */
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius:50%;
  background-color:transparent;
  margin-right:3px;
  display: inline-block;
  position: relative;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  color:white;
  position: absolute;
  top: -5px;
  left: 0;
}

.centered-and-cropped { object-fit: cover }

.cohort-panel-button{
    width:55px; height:55px; float:left; padding:8px; border-radius:5px;
}

.panel-button{
    width:70px; height:70px; float:left; padding:13px; border-radius:5px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8); display:none;
}

#backgroundOverlay{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

.bouton-update{
  background-color: #008CBA;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 12px 18px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

textarea {
  border-radius: 5px;
  border: 1px solid #EEE;
  width: 100%;
  height: 80px;
  float: left;
  padding: 10px 15px;
  opacity: 0.8;
  color:black;
  text-align:left;
}

#cohortBox, #groupBox {
  border-radius: 50px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 100%;
  display:inline-block;
  overflow:hidden;
  opacity:0.95;
  float: middle;
}

select {
  width: 100%;
  height: 42px;
  border:0px;
  outline:none;
  padding: 0px 15px;
  color:black;
  text-align-last:center;
}

option{
    text-align-last:center;
}


label input {
  display: none;/* <-- hide the default checkbox */
}
label span {/* <-- style the artificial checkbox */
  height: 25px;
  width: 25px;
  text-align:center;
  /*padding-bottom:5px;*/
  display: inline-block;
  position: relative;
  border:0;
  border-radius:3px;
}
[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  top:-10px;
  font-size:32px;
  left: 2px;
}

[type=checkbox]:checked + span:after {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  top:-10px;
  left: 2px;
  font-size:32px;
  color:yellow;
}

.button-text{
    font-size:8px;
    font-weight:30;
    color:black;
    padding:3px 0px 0px 0px;
}

#snackbar {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


#notiLayout{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10000;
    display:none;
}

#notiForm {
    max-width:500px;
    width:auto;
    height:85%;
    margin-top: 3px;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
    overflow-y: auto;
}
.contentform2 {
    padding: 0px 5px 5px 5px;
    float:middle;
}
.formcontent2 {
    width:100%;
    float:middle;
    margin:auto;
    box-sizing: border-box;
}

#chat_log2 {
    width: 100%;
    height: auto;
    float: middle;
    color:black;
    overflow-y:auto;
}

div#list2 {
    width: 100%;
    height: auto;
}

div#list2 > div {
    background:white;
    background-size:cover;
    padding:5px 10px 5px 10px;
    margin-top: 1px;
}

div#list2 > div > div {
    width: auto;
    height: auto;
    color: black;
    word-wrap: break-word;
}

#notiForm::-webkit-scrollbar-track
{
	border: 1px solid gray;
	background-color: #eee;
	border-radius:30px;
}

#notiForm::-webkit-scrollbar
{
	width: 6px;
	background-color: #eee;
}

#notiForm::-webkit-scrollbar-thumb
{
	background-color: gray;
	border-radius:30px;
}


</style>

<script>
    var isSafari = navigator.vendor && navigator.vendor.indexOf('Apple') > -1 &&
                   navigator.userAgent &&
                   navigator.userAgent.indexOf('CriOS') == -1 &&
                   navigator.userAgent.indexOf('FxiOS') == -1;
    if (isSafari) {
        console.log("Safari, yeah!");
    }
    else{
        history.pushState(null, null, location.href);
        history.back();
        history.forward();
        window.onpopstate = function () { history.go(1); };
    }
</script>

{% if note %}
<script>alert("{{note}}");</script>
{% endif %}

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div onclick="showNotifications()" id="alert" style="font-size:25px; font-weight:300; color: black; text-align:center; box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
	position:fixed; left:50%; float:middle; background-color:white; border-radius:3px; padding: 10px 15px 10px 15px;
	transform:translate(-50%, -50%); width:300px; z-index:100; top:260px; display:none;">
    <i class="fa fa-bell" style="font-size:20px; color:red;"/></i>
	New Message!<br>
	<div style="color:red; font-size:16px; margin-top:20px; margin-bottom:10px;">Click here to view.</div>
</div>


<div id="tool_panel" style="position:fixed; right:20px; background-color:transparent; width:auto; min-width:250px; z-index:200; bottom:20px; display:inline-block;">
    <a href="javascript:void(0)" onclick="javascript:toChat('private_chat');">
        <img class="panel-button" id="chat" src="/static/images/ic_chat.png" style="margin-left:20px; background-color:green;">
    </a>
    <a href="javascript:void(0)" onclick="javascript:dismissLayouts(); document.getElementById('messageBox2').style.display='block'; document.getElementById('backgroundOverlay').style.display='block';">
        <img class="panel-button" id="message" src="/static/images/ic_message.png" style="margin-left:20px; background-color:brown;">
    </a>
    <img class="panel-button" id="trash" src="/static/images/cancelicon.png" style="margin-left:20px; background-color:gray;">
</div>


<div id="title" style="font-size:25px; font-weight:800; color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center;
	position:fixed; left:50%; float:middle; transform:translate(-50%, -50%); width:100%; z-index:100; top:120px; display:none;">{% if cohort %}{{cohort}}{% elif group %}{{group.name}}{% else %}NETWORK{% endif %} MEMBERS</div>


{% if members %}
<form style="width:100%; height:auto;" action="/users/contact_selecteds/" method="post" enctype="multipart/form-data" id="form">
    {% csrf_token %}
    <div style="font-size:25px; font-weight:800;
        color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center; width:100%; margin-top:60px; padding-left:10px; padding-right:10px;">
        Welcome To VaCay!
        <div style="font-size:14px; font-weight:500; color:white; text-shadow:none;">Please connect, message, and meet the other members via Communities, Groups, Posts and Messages!</div>
    </div>
    <div style="font-size:18px; font-weight:800;
        color: #F7D479; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center; width:100%; margin-top:20px; padding-left:10px; padding-right:10px;">
        {% if cohort %}{{cohort}}{% elif group %}{{group.name}}{% else %}NETWORK{% endif %} MEMBERS<br>
        <img src="/static/images/vacaylogo.jpg" style="width:50px; height:50px; top:20px;">
    </div>
    <div class="container-fluid" style="margin-top:2%;">
        <div class="row">
            {% for member in members %}
            <div class="col-sm-3" style="padding-bottom:30px;" id="{{member.id}}">
                <div style="width:100%; position:relative; display:inline-block;">
                    <div id="edit" style="margin-top:80px;">
                        <!--<input type="hidden" id="user_id" value="{{user_id}}">-->
                        <div class="contentform">
                            <div style="width:100%;">

                                <div style="color: white; float:left; font-weight:600; font-size:25px; width:100%; text-align:center; margin-top:80px;">
                                    <!--#04a2be-->
                                    {% if member.cohort == 'admin' %}VaCay Manager{% else %}{{member.name}}{% endif %}
                                </div>

                                <div style="padding-left:30px; padding-right:8px; color: white; font-weight:500; font-size:14px; width:100%; text-align:center;">
                                    {% if member.admin_id != '0' %}
                                        Member since <label style="font-weight:300;">{{member.registered_time}}</label>
                                    {% else %}
                                        <label style="font-weight:600; color:orange; opacity:0;">Manager</label>
                                    {% endif %}
                                </div>

                                <div style="padding-left:30px; padding-right:8px; color: white; font-weight:300; font-size:14px; width:100%; text-align:center;">
                                    {% if member.admin_id != '0' %}{% if member.cohort %}{{member.cohort}}{% else %}--- No Group ---{% endif %}{% else %}VaCay Community{% endif %}
                                </div>

                                <div style="padding-left:30px; padding-right:8px; color: white; font-weight:500; font-size:16px; width:auto; text-align:left; display:none;">
                                    <span class="glyphicon glyphicon-envelope" style="font-size:16px; margin-right:10px;"></span><a href="mailto:{{member.email}}" class="useremail">{{member.email}}</a>
                                </div>

                                <div style="padding-left:29px; padding-right:8px; color: white; font-weight:500; font-size:16px; width:auto; text-align:left; display:none;">
                                    <span class="glyphicon glyphicon-earphone" style="font-size:16px; margin-right:10px;"></span><a href="tel:{{member.phone_number}}">{{member.phone_number}}</a>
                                </div>

                                <div style="padding-left:28px; padding-right:8px; color: white; font-weight:500; font-size:16px; width:auto; text-align:left; height:1.5em; line-height: 1.5;">
                                    <span class="glyphicon glyphicon-map-marker" style="font-size:18px; margin-right:3px;"></span>
                                    {% if member.address %}
                                        <a href="javascript:void(0);" class="useraddress">{{member.city}}</a>
                                        <!--https://www.google.com/maps/search/?api=1&query={{member.address}}-->
                                    {% else %}
                                        --- --- ---
                                    {% endif %}
                                </div>

                                <div style="width:100%; text-align:right; margin-bottom:12px;">
                                    <a href="/users/qqqqqqqqqqqq?user_id={{member.id}}" style="text-align:center; margin-left:15px;">
                                        <span class="glyphicon glyphicon-flag" style="padding-right:0px; color:white; font-size:23px;"></span>
                                    </a>
                                    <!--<a href="/userfriends?member_id={{member.id}}" style="text-align:center; margin-left:15px;">-->
                                    <!--    <span class="glyphicon glyphicon-user" style="padding-right:0px; color:white; font-size:23px;"></span>-->
                                    <!--</a>-->
                                    <a href="javascript:void(0)" style="text-align:center; margin-left:15px; margin-right:5px;" onclick="javascript:openMessageBox(this);" id="{{member.pk}}">
                                        <input type="hidden" value="{{member.photo_url}}">
                                        <span class="glyphicon glyphicon-comment" style="padding-right:0px; color:white; font-size:23px;"></span>
                                    </a>
                                    <a href="/users/to_private_chat?member_id={{member.pk}}" style="text-align:center; margin-left:15px; margin-top:-8px;">
                                        <input type="hidden" value="{{member.photo_url}}">
                                        <span class="fa fa-comments" style="padding-right:0px; color:white; font-size:25px;"></span>
                                    </a>
                                    <a href="javascript:void(0)" style="display:inline-block; border-radius:50px; text-align:center; margin-right:5px;">
                                        <label style="color: #04a2be;">
                                            <input type="checkbox" name="users[]" value="{{member.id}}" class="chx" style="width:0px; height:0px;" onchange="javascript:highlight(this);">
                                            <span></span><i class="fa fa-user-plus" style="color:white; font-size:23px;"></i>
                                        </label>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position:absolute; top:10px; width:100%;">
                    <center>
                        <a href="{% if member.photo_url %}{{member.photo_url}}{% elif member.cohort == 'admin' %}/static/images/vacaylogo.jpg{% else %}/static/images/ic_profile.png{% endif %}" target="_blank">
                            <img src="{% if member.photo_url %}{{member.photo_url}}{% elif member.cohort == 'admin' %}/static/images/vacaylogo.jpg{% else %}/static/images/ic_profile.png{% endif %}" class="centered-and-cropped"
                                style="border-radius:50%; border:0px solid #fff; width:150px; height:150px; background: #E5F2FA; margin-right:16px;">
                                <!--#E5F2FA-->
                        </a>
                    </center>
                </div>
                <br>
            </div>
            {% endfor %}

            <input type="hidden" id="msg" name="message" value="">
            <input type="hidden" id="option" name="option" value="">

        </div>
    </div>
</form>

<div id="messageBox" style="font-size:16px; font-weight:300; color: black;
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	transform:translate(-50%, -50%); min-width:300px; max-width:600px; width:auto; z-index:200; top:50%; display:none;">
    <img style="border-radius:50%; width:50px; height:50px; float:left;" class="centered-and-cropped" id="seluser">
    <span class="fa fa-close" style="font-size:20px; float:right; margin-top:5px;" onclick="javascript:dismissLayouts(); document.getElementById('messageBox').style.display='none'; document.getElementById('backgroundOverlay').style.display='none';"></span>
    <div style="width:100%; display:inline-block;">
        <div>
            <div style="font-size:18px; font-weight:600; color: black; text-align:center; width:100%;" id="cohortmessageboxtitle">SEND MESSAGE</div><br>
            <form action="/users/send_member_message/" method="post" enctype="multipart/form-data" style="width:100%;" id="memberMsgForm">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="member_id" id="member_id" value="">
                    <input style="height:5px; opacity:0;">
                    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
                    <textarea rows="8" name="message" required id="textarea2" placeholder="Write something here..."
                        style="width:100%; height:150px; min-height:150px; max-height:300px; border:1px solid #ccc; padding:15px; border-radius:5px;"></textarea>
                    <script>autosize(document.getElementById("textarea2"));</script>
                </div>
                <center><img src="/static/images/processing.gif" style="width:80px; height:50px; display: none;" id="gif2"></center>
                <center>
                    <button type="button" class="bouton-update" style="width:60%; margin-bottom:20px;"
                        onclick="javascript:formSubmit(document.getElementById('memberMsgForm'), document.getElementById('gif2'), 'Message sent.');">Submit</button>
                </center>

            </form>
        </div>
    </div>
</div>

<div id="messageBox2" style="font-size:16px; font-weight:300; color: black; position:fixed; bottom:2%; margin-left:5%; right:5%; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	 min-width:300px; max-width:600px; width:auto; z-index:200; display:none;">
    <img id="msg_logo" style="width:50px; height:50px; float:left;" class="centered-and-cropped" src="/static/images/ic_profile.png">
    <span class="fa fa-close" style="font-size:20px; float:right; margin-top:5px;" onclick="javascript:dismissLayouts(); document.getElementById('messageBox2').style.display='none'; document.getElementById('backgroundOverlay').style.display='none';"></span>
    <div style="width:100%; display:inline-block;">
        <div>
            <div style="font-size:18px; font-weight:600; color: black; text-align:center; width:100%;">SEND MESSAGE</div><br>
            <form action="#" method="post" enctype="multipart/form-data" style="width:100%;">
                {% csrf_token %}
                <div class="form-group">
                    <input style="height:5px; opacity:0;">
                    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
                    <textarea rows="8" name="message" required id="textarea" placeholder="Write something here..."
                        style="width:100%; height:150px; min-height:150px; max-height:300px; border:1px solid #ccc; padding:15px; border-radius:5px;"></textarea>
                    <script>autosize(document.getElementById("textarea"));</script>
                </div>
                <center><img src="/static/images/processing.gif" style="width:80px; height:50px; display: none;" id="gif3"></center>
                <center>
                    <button type="button" class="bouton-update" style="width:60%; margin-bottom:20px;" onclick="javascript:sendMessageToSelectedMembers();">Submit</button>
                </center>

            </form>
        </div>
    </div>
</div>

<div id="cohortBox" style="font-size:16px; font-weight:300; color: black;
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	transform:translate(-50%, -50%); min-width:300px; max-width:600px; width:auto; z-index:200; top:320px; display:none;">
    <img style="width:50px; height:50px; float:left; border-radius:50%; margin-right:10px;" class="centered-and-cropped" src="/static/images/ic_profile.png">
    <span class="fa fa-close" style="font-size:20px; float:right; margin-top:5px;"
        onclick="javascript:document.getElementById('cohortBox').style.display='none'; document.getElementById('backgroundOverlay').style.display='none';"></span>
    <div style="width:100%; display:inline-block;">
        <div>
            <div style="font-size:16px; font-weight:600; color: black; text-align:center; width:100%;">CONNECT WITH A GROUP</div><br>
            <form action="/users/do_cohort/" method="post" enctype="multipart/form-data" style="width:100%;" id="cohortform">
                {% csrf_token %}
                <div class="form-group" id="cohortBox">
                    <select name="cohort" required id="cohort2" style="width:100%; color:black;">
                        <option value="">Please choose a group</option>
                        <option value="E81">E81</option>
                        <option value="E83">E83</option>
                        <option value="E84">E84</option>
                        <option value="E86">E86</option>
                        <option value="E87">E87</option>
                        <option value="S82">S82</option>
                        <option value="S85">S85</option>
                        <option value="S88">S88</option>
                        <option value="E(v)89">E(v)89</option>
                        <option value="E(v)90">E(v)90</option>
                        <option value="S(v)91">S(v)91</option>
                        <option value="E(v)92">E(v)92</option>
                        <option value="E(v)93">E(v)93</option>
                        <option value="S(v)94">S(v)94</option>
                        <option value="VACAY Leaders">VACAY Leaders</option>
                    </select>
    			</div>

    			<input hidden id="cohort_option" name="option" value="">
    			<input hidden id="cohort_conf_code" name="code" value="">

                <div class="form-group" style="margin-top:20px; text-align:center;">

                    <div style="width:auto; display:inline-block;">
                        <a href="javascript:void(0)" onclick="javascript:doCohort('members');">
                            <div style="display:inline-block; text-align:center;">
                                <img class="cohort-panel-button" src="/static/images/ic_group.png" style="background-color:orange;"><br>
                                <label class="button-text">Members</label>
                            </div>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:doCohort('video');">
                            <div style="display:inline-block; text-align:center;">
                                <img class="cohort-panel-button" src="/static/images/ic_video.png" style="margin-left:10px; background-color:red;"><br>
                                <label class="button-text" style="margin-left:5px;">Video</label>
                            </div>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:doCohort('group_chat');">
                            <div style="display:inline-block; text-align:center;">
                                <img class="cohort-panel-button" src="/static/images/ic_group_chat.png" style="margin-left:10px; background-color:#0066cc;"><br>
                                <label class="button-text" style="margin-left:2px;">Group Chat</label>
                            </div>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:doCohort('private_chat');" style="display:none;">
                            <div style="display:inline-block; text-align:center;">
                                <img class="cohort-panel-button" src="/static/images/ic_chat.png" style="margin-left:10px; background-color:green;"><br>
                                <label class="button-text" style="margin-left:5px;">Priv Chat</label>
                            </div>
                        </a>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>


<div id="groupBox" style="font-size:16px; font-weight:300; color: black;
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	transform:translate(-50%, -50%); min-width:300px; max-width:600px; width:auto; z-index:200; top:320px; display:none;">
    <img style="width:50px; height:50px; float:left; border-radius:50%; margin-right:10px;" class="centered-and-cropped" src="/static/images/ic_profile.png">
    <span class="fa fa-close" style="font-size:20px; float:right; margin-top:5px;"
        onclick="javascript:document.getElementById('groupBox').style.display='none'; document.getElementById('backgroundOverlay').style.display='none';"></span>
    <div style="width:100%; display:inline-block;">
        <div>
            <div style="font-size:16px; font-weight:600; color: black; text-align:center; width:100%;">CONNECT WITH A COMMUNITY</div><br>
            <form action="/users/do_group/" method="post" enctype="multipart/form-data" style="width:100%;" id="groupform">
                {% csrf_token %}
                <div class="form-group" id="groupBox">
                    <select name="groupid" required id="groupid" style="width:100%; color:black;">
                    </select>
                    <script>
                        var x = document.getElementById("groupid");
                        {% if groups %}
                            {% for group in groups %}
                                var option = document.createElement("option");
                                option.text = "{{group.name}}";
                                option.value = "{{group.pk}}";
                                x.add(option);
                            {% endfor %}
                        {% else %}
                            var option = document.createElement("option");
                            option.text = "--No group allowed--";
                            option.value = "";
                            x.add(option);
                        {% endif %}
                    </script>
    			</div>

    			<input hidden id="group_option" name="option" value="">
    			<input hidden id="group_conf_code" name="code" value="">

                <div class="form-group" style="margin-top:20px; text-align:center;">

                    <div style="width:auto; display:inline-block;">
                        <a href="javascript:void(0)" onclick="javascript:doGroup('members');">
                            <div style="display:inline-block; text-align:center;">
                                <img class="cohort-panel-button" src="/static/images/ic_group.png" style="background-color:orange;"><br>
                                <label class="button-text">Members</label>
                            </div>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:doGroup('video');">
                            <div style="display:inline-block; text-align:center;">
                                <img class="cohort-panel-button" src="/static/images/ic_video.png" style="margin-left:10px; background-color:red;"><br>
                                <label class="button-text" style="margin-left:5px;">Video</label>
                            </div>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:doGroup('group_chat');">
                            <div style="display:inline-block; text-align:center;">
                                <img class="cohort-panel-button" src="/static/images/ic_group_chat.png" style="margin-left:10px; background-color:#0066cc;"><br>
                                <label class="button-text" style="margin-left:2px;">Group Chat</label>
                            </div>
                        </a>
                        <a href="javascript:void(0)" onclick="javascript:doGroup('private_chat');" style="display:none;">
                            <div style="display:inline-block; text-align:center;">
                                <img class="cohort-panel-button" src="/static/images/ic_chat.png" style="margin-left:10px; background-color:green;"><br>
                                <label class="button-text" style="margin-left:5px;">Priv Chat</label>
                            </div>
                        </a>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>


<div id="confCodeBox" style="font-size:16px; font-weight:300; color: black;
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 8px 15px 15px 15px;
	transform:translate(-50%, -50%); min-width:300px; max-width:600px; width:auto; z-index:200; top:320px; display:none;">
    <span style="font-size:25px; color:red; float:left;" class="fas fa-video"></span>
    <span class="fa fa-close" style="font-size:20px; float:right; margin-top:5px;" onclick="javascript:dismissLayouts(); document.getElementById('confCodeBox').style.display='none'; document.getElementById('backgroundOverlay').style.display='none';"></span>
    <div style="width:100%; display:inline-block;">
        <div>
            <div style="font-size:18px; font-weight:600; color: black; text-align:center; width:100%;" id="cohortmessageboxtitle">Enter A Code</div><br>
            <div style="width:100%;">
                <div class="form-group">
                    <input type="hidden" id="opt" value="">
                    <input type="text" id="code" value="" placeholder="Conference code...">
                </div>
                <center>
                    <button type="button" class="bouton-update" style="width:60%; margin-bottom:20px;" onclick="javascript:entryConference(document.getElementById('opt').value);">Entry</button>
                </center>

            </div>
        </div>
    </div>
</div>


<div id="notiLayout" style="display:none;" onclick="javascript:dismissLayouts();">
    <center>
        <div style="font-size:16px; font-weight:600; font-family:verdana; color:white; text-align:center; width:280px;
            border-radius:50px; margin-top:10px; margin-bottom:15px; background-color:orange; padding:3px;">
            Contact Again
        </div>
    </center>
    <div id="notiForm">
        <div class="contentform2">
            <div class="formcontent2">
                <div id="chat_log2">
                    <div id="list2"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="backgroundOverlay" onclick="javascript:dismissLayouts();">
</div>

<div id="snackbar">Submited</div>

<input type="hidden" id="me_email" value="{{me.email}}">
<input type="hidden" id="me_id" value="{{me.pk}}">

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>

<div style="display:inline-block; height:0px; width:auto; position:fixed; z-index:100; bottom:50px; border-radius:30px; left:1%;">
    <div id="google_translate_element" style="float:left;"></div>
</div>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("myBtn").style.display = "block";
        document.getElementById("title").style.display = "block";
        document.getElementById('navbar').style.backgroundColor = "rgba(0,0,0,0.7)";
    } else {
        document.getElementById("myBtn").style.display = "none";
        document.getElementById("title").style.display = "none";
        // document.getElementById('navbar').style.backgroundColor = "transparent";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

$(document).ready(function() {
    $('.row #date').each(function(i) {
        this.innerHTML = getDate(parseInt(this.innerHTML));
    });
});

function getDate(ms){
    var months = ['January', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var date = new Date(ms);
    var seconds = date.getSeconds();
    var minutes = date.getMinutes();
    var hours = date.getHours();

    var year = date.getFullYear();
    var month = date.getMonth(); // beware: January = 0; February = 1, etc.
    var day = date.getDate();

    var dateStr = months[month] + ' ' + day + ', ' + year;
    return dateStr;
}


{% if member %}
    ScrollTo({{member.id}});
{% endif %}

function ScrollTo(name) {
  //init thread
  ScrollToResolver(document.getElementById(name));
}

function ScrollToResolver(elem) {
  var jump = parseInt(elem.getBoundingClientRect().top * .2);
  document.body.scrollTop += jump - 50;
  document.documentElement.scrollTop += jump - 50;
  //lastjump detects anchor unreachable, also manual scrolling to cancel animation if scroll > jump
  if (!elem.lastjump || elem.lastjump > Math.abs(jump)) {
    elem.lastjump = Math.abs(jump);
    setTimeout(function() {
      ScrollToResolver(elem);
    }, "50");
  } else {
    elem.lastjump = null;
  }
}


function openMessageBox(obj){
    document.getElementById('member_id').value = obj.id;
    document.getElementById('backgroundOverlay').style.display='block';
    document.getElementById('messageBox').style.display='block';
    var seluserpic = obj.querySelector("input");
    if(seluserpic.value.length > 0) document.getElementById('seluser').src = seluserpic.value;
    else document.getElementById('seluser').src = '/static/images/ic_profile.png';
}

</script>

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyATFKJgIovPNZY6MCUyMAM-UK0T5qWdqWU",
    authDomain: "vacay-demo-1c8e4.firebaseapp.com",
    databaseURL: "https://vacay-demo-1c8e4.firebaseio.com",
    projectId: "vacay-demo-1c8e4",
    storageBucket: "vacay-demo-1c8e4.appspot.com",
    messagingSenderId: "756139549306",
    appId: "1:756139549306:web:7cb3093d8d77d774cfd1c3",
    measurementId: "G-CW5K9V59ZP"
  };
  firebase.initializeApp(config);
</script>

<script>
	function showNotifications(){
		window.location.href = "/adminNotifications";
	}

</script>

<script>

createjs.Sound.registerSound("/static/sound/notification.mp3", "x");
navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;

var keys = [];
var me_email = document.getElementById("me_email").value;
me_email = me_email.replace(/\./g,"ddoott");
var ref = firebase.database().ref('notification/' + me_email);
ref.on('child_added', function(snapshot) {
	var key = snapshot.val();
	keys.push(key);
	if(keys.length == 1){
// 		createjs.Sound.play("x");
		document.getElementById("noticon").style.display = 'block';
		document.getElementById("noticon").innerHTML = "<h4 style='color:red; font-size:14px; display:inline-block; text-decoration:underline; background-color:white; border-radius:50px; padding:0px 10px 5px 5px;'><span class='fa fa-bell' aria-hidden='true' style='color:red; font-size:20px; margin-right:5px;'></span>New!</h4>";
		if (navigator.vibrate) {
			// vibration API supported
			navigator.vibrate(500);
		}else {
			window.navigator.vibrate(500); // vibrate for 500ms
		}
	}
});

var keys2 = [];
var me_id = document.getElementById("me_id").value;
var notiref = firebase.database().ref('notify/' + me_id);
notiref.on('child_added', function(snapshot) {
  var key = snapshot.val();
//   console.log(snapshot.key);
  if (key){
    var sender_name = key.sender_name;
    console.log(key.sender_name);
    var li = document.createElement("div");
    li.style.color = 'black';
    li.style.fontSize = '14';
    li.style.maxWidth = "auto";
    li.style.width = "auto";
    var role_caption = "";
    if(key.role == "manager") role_caption = "<div style='color:white; font-size:10px; margin-left:2px; border-radius:3px; background-color:red; width:auto; padding:0px 6px 0px 6px; display:inline-block;'>Manager</div>";
    li.innerHTML = "<div style='font-size:14px; font-weight:600;'>" + sender_name + "</div>"
        + role_caption
        + "<div style='color:gray; font-size:12px; margin-left:2px;'>" + timeConverter(Number(key.date))
        + "<label style='color:orange; width:auto; text-align:left; font-size:11px; margin-left:8px;'>View message</label>"
        + "</div>";
    // li.innerHTML = li.innerHTML + "<div style='font-size:12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;'>" + key.msg + "</div>";
    li.style.textAlign = 'left';
    var ul2 = document.createElement("div");
    var img = document.createElement("img");
    var sender_photo = key.sender_photo;
    if (sender_photo.length > 0) img.src = sender_photo;
    else img.src = "/static/images/ic_profile.png";
    img.style.width = "40";
    img.style.height = "40";
    img.style.borderRadius = "50%";
    img.classList.add("cropping");
    img.style.cssFloat = 'right';
    ul2.appendChild(img);
    ul2.append(li);
    ul2.style.marginBottom = "1px";
    ul2.addEventListener('click', function (event) {
        var type = key.type
        var id = key.id
        var mes_id = key.mes_id
        if(type == 'gchat'){
            window.location = "/users/open_group_chat?group_id=" + id;
        }else if(type == 'cchat'){
            window.location = "/users/open_cohort_chat?cohort=" + id;
        }else {
            window.location = "/users/notifications?noti_id=" + mes_id;
        }
        notiref.child(snapshot.key).remove();
    });
    ul.appendChild(ul2);

    keys2.push(key);
	if(keys2.length == 1){
// 		createjs.Sound.play("x");
		document.getElementById("noticon").style.display = 'block';
		document.getElementById("noticon").innerHTML = "<h4 style='color:red; font-size:14px; display:inline-block; text-decoration:underline; background-color:white; border-radius:50px; padding:0px 10px 5px 5px;'><span class='fa fa-bell' aria-hidden='true' style='color:red; font-size:20px; margin-right:5px;'></span>New!</h4>";
		if (navigator.vibrate) {
			// vibration API supported
			navigator.vibrate(500);
		}else {
			window.navigator.vibrate(500); // vibrate for 500ms
		}
	}
  }
});



</script>

<script src="/static/js/chat/memb_notification.js"></script>

<script>

    function dismissLayouts(){
        document.getElementById('messageBox').style.display='none';
        document.getElementById('messageBox2').style.display='none';
        document.getElementById('groupBox').style.display='none';
        document.getElementById('cohortBox').style.display='none';
        document.getElementById('confCodeBox').style.display = 'none';
        document.getElementById('backgroundOverlay').style.display='none';
        document.getElementById('notiLayout').style.display='none';
    }

    function doCohort(option){
        if(document.getElementById('cohort2').value == ''){
            alert('Please choose a group.');
            return;
        }
        document.getElementById('cohort_option').value = option;
        var form = document.getElementById("cohortform");
        form.submit();
    }

    function doGroup(option){
        if(document.getElementById('groupid').value == ''){
            alert('Please choose a community.');
            return;
        }
        document.getElementById('group_option').value = option;
        var form = document.getElementById("groupform");
        form.submit();
    }

    function openCodeBox(opt){
        if(opt == 'group'){
            if(document.getElementById('groupid').value == ''){
                alert('Please choose a commmunity.');
                return;
            }
        }else if(opt == 'cohort'){
            if(document.getElementById('cohort2').value == ''){
                alert('Please choose a group.');
                return;
            }
        }
        dismissLayouts();
        document.getElementById('confCodeBox').style.display = 'block';
        document.getElementById('backgroundOverlay').style.display='block';
        document.getElementById('opt').value = opt;
    }

    function entryConference(opt){
        if(document.getElementById('code').value == ''){
            alert('Please enter the conference entry code.');
            return;
        }
        if(opt == 'group'){
            document.getElementById('group_conf_code').value = document.getElementById('code').value;
            doGroup('video');
        }else if(opt == 'cohort'){
            document.getElementById('cohort_conf_code').value = document.getElementById('code').value;
            doCohort('video');
        }
    }

</script>

<script>


var m = 0;
function highlight(obj){
   if(obj.checked) {
      $(obj).parent().parent().css("background","red");
      m++;
   }else{ $(obj).parent().parent().css("background","transparent");if(m>0)m--;}
   if(m > 0){
       document.getElementById('message').style.display = 'block';
       document.getElementById('chat').style.display = 'block';
   }else {
       document.getElementById('message').style.display = 'none';
       document.getElementById('chat').style.display = 'none';
   }
}


function toChat(option){
    var userchxs =  document.getElementsByName("users[]");
    var chxlength = userchxs.length;
    if (chxlength > 0){
        document.getElementById('option').value = option;
        var form = document.getElementById("form");
        form.submit();
    }
}


function sendMessageToSelectedMembers(){
    var chxarr = [];
    var userchxs =  document.getElementsByName("users[]");
    var chxlength = userchxs.length;

    for(k=0;k < chxlength;k++){
      if(userchxs[k].checked) {
         chxarr.push(userchxs[k].value);
      }
    }

    var message = document.getElementById('textarea');
    if(message.value.length == 0){
        alert("Please enter your message ...");
        return;
    }

    // for(var i=0; i<chxarr.length; i++){
    //     firebase.database().ref('membermessage' + '/' + chxarr[i]).remove();
    //     firebase.database().ref('membermessage' + '/' + chxarr[i]).push().set({
    //       noti: message.value,
    //       time: new Date().getTime(),
    //       sender_email:document.getElementById('me_email').value
    //     });
    // }

    document.getElementById('msg').value = message.value;
    var form = document.getElementById("form");
    // form.submit();
    formSubmit(form, document.getElementById('gif3'), 'Message sent.');
}

function showToast(text) {
    var x = document.getElementById("snackbar");
    x.innerHTML = text;
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

function formSubmit(form, gif, text){
    gif.style.display = "block";
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            showToast(text);
            gif.style.display = "none";
            dismissLayouts();
        }
    };
    xhr.open('POST', form.getAttribute('action'), true);
    xhr.send(formData);
}


function getCookie(name) {
    console.log('getCookie');
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                    }
            }
    }
    console.log('cookie:' + cookieValue);
    return cookieValue;
}

function post(path, params, method) {
   method = method || "post"; // Set method to post by default if not specified.

   // The rest of this code assumes you are not using a library.
   // It can be made less wordy if you use one.
   var form = document.createElement("form");
   form.setAttribute("method", method);
   form.setAttribute("action", path);

   for(var key in params) {
      if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
      }
   }

   var hiddenField1 = document.createElement("input");
   hiddenField1.setAttribute("type", "hidden");
   hiddenField1.setAttribute("name", 'csrfmiddlewaretoken');
   hiddenField1.setAttribute("value", getCookie('csrftoken'));
   form.appendChild(hiddenField1);

   document.body.appendChild(form);
   form.submit();
}


</script>

<script>

{% if groups %}
{% for group in groups %}

var gref = firebase.database().ref('gmnotis' + {{admin.pk}} + "gr" + {{group.pk}});
gref.on('child_added', function(snapshot) {
  var key = snapshot.val();
  if (key){
    var key2 = getChildObj(key);
    var sender_name = key2.sender;
    var cohort = key2.cohort;
    var groupid = key2.groupid;
//    window.alert(key2.message);
    var li = document.createElement("div");
    li.style.color = 'black';
    li.style.fontSize = '14';
    li.style.maxWidth = "auto";
    li.style.width = "auto";
    li.innerHTML = "<label style='font-size:14px; font-weight:600;'>" + sender_name + "</label>" + "<div style='color:gray; font-size:12px; margin-left:2px;'>" + timeConverter(Number(key2.time)) + "<label style='color:orange; width:auto; text-align:left; font-size:11px; margin-left:8px;'>View message</label>" + "</div>";
    // li.innerHTML = li.innerHTML + "<div style='font-size:12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;'>" + key2.message + "</div>";
    li.style.textAlign = 'left';
    var ul2 = document.createElement("div");
    var img = document.createElement("img");
    if (key2.sender_photo.length > 0) img.src = key2.sender_photo;
    else img.src = "/static/images/ic_profile.png";
    img.style.width = "40";
    img.style.height = "40";
    img.classList.add("cropping");
    img.style.cssFloat = 'right';
    ul2.appendChild(img);
    ul2.append(li);
    ul2.style.marginBottom = "1px";
    ul2.addEventListener('click', function (event) {
        if(groupid != '') window.open('/users/open_group_chat?group_id=' + groupid);
        else if(cohort != '') window.open('/users/open_cohort_chat?cohort=' + cohort);
    });
    if({{me.pk}} != parseInt(key2.sender_id)){
        ul.appendChild(ul2);
        document.getElementById("noticon").style.display = 'block';
        document.getElementById("noticon").innerHTML = "<h4 style='color:red; font-size:14px; display:inline-block; text-decoration:underline; background-color:white; border-radius:50px; padding:0px 10px 5px 5px;'><span class='fa fa-bell' aria-hidden='true' style='color:red; font-size:20px; margin-right:5px;'></span>New!</h4>";
    }
  }else {
      var lii = document.createElement("div");
      lii.style.color = 'white';
      lii.style.fontSize = '14';
      lii.style.textAlign = 'center';
      lii.innerHTML = "No message ...";
      ul.append(lii);
  }
});

{% endfor %}
{% endif%}


var cref = firebase.database().ref('gmnotis' + {{admin.pk}} + '{{me.cohort}}');
cref.on('child_added', function(snapshot) {
  var key = snapshot.val();
  if (key){
    var key2 = getChildObj(key);
    var sender_name = key2.sender;
    var cohort = key2.cohort;
    var groupid = key2.groupid;
//    window.alert(key2.message);
    var li = document.createElement("div");
    li.style.color = 'black';
    li.style.fontSize = '14';
    li.style.maxWidth = "auto";
    li.style.width = "auto";
    li.innerHTML = "<label style='font-size:14px; font-weight:600;'>" + sender_name + "</label>" + "<div style='color:gray; font-size:12px; margin-left:2px;'>" + timeConverter(Number(key2.time)) + "<label style='color:orange; width:auto; text-align:left; font-size:11px; margin-left:8px;'>View message</label>" + "</div>";
    // li.innerHTML = li.innerHTML + "<div style='font-size:12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;'>" + key2.message + "</div>";
    li.style.textAlign = 'left';
    var ul2 = document.createElement("div");
    var img = document.createElement("img");
    if (key2.sender_photo.length > 0) img.src = key2.sender_photo;
    else img.src = "/static/images/ic_profile.png";
    img.style.width = "40";
    img.style.height = "40";
    img.classList.add("cropping");
    img.style.cssFloat = 'right';
    ul2.appendChild(img);
    ul2.append(li);
    ul2.style.marginBottom = "1px";
    ul2.addEventListener('click', function (event) {
        if(groupid != '') window.open('/users/open_group_chat?group_id=' + groupid);
        else if(cohort != '') window.open('/users/open_cohort_chat?cohort=' + cohort);
    });
    if({{me.pk}} != parseInt(key2.sender_id)){
        ul.appendChild(ul2);
        document.getElementById("noticon").style.display = 'block';
        document.getElementById("noticon").innerHTML = "<h4 style='color:red; font-size:14px; display:inline-block; text-decoration:underline; background-color:white; border-radius:50px; padding:0px 10px 5px 5px;'><span class='fa fa-bell' aria-hidden='true' style='color:red; font-size:20px; margin-right:5px;'></span>New!</h4>";
    }
  }else {
      var lii = document.createElement("div");
      lii.style.color = 'white';
      lii.style.fontSize = '14';
      lii.style.textAlign = 'center';
      lii.innerHTML = "No message ...";
      ul.append(lii);
  }
});


</script>


{%else %}
        <center>
            <br>
            <br>
            <br>
        <h3 class="my_items col-sm-offset-1" style="color:red; margin: 30px;">No member found ...</h3>
    </center>

{% endif %}

<script type = "text/javascript">
    var currentPos = 0;
    // var images = ["/static/images/bg.jpg", "/static/images/bg2.jpg", "/static/images/bg3.jpg"]
    var images = [
        "linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/static/images/222.jpg')",
        "linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/static/images/666.jpg')",
        "linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/static/images/777.jpg')",
        "linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/static/images/888.jpg')",
        "linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/static/images/ccc.png')",
        "linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/static/images/aaa.jpg')",
        "linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/static/images/bbb.jpg')",
    ]

    function volgendefoto() {
        if (++currentPos >= images.length)
            currentPos = 0;

        // document.body.style.backgroundImage = images[currentPos];

        getNewNofiCound();
    }

    setInterval(volgendefoto, 5000);
</script>

<script>
    function getNewNofiCound(){
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(xhr.response);
                var new_msg_count = xhr.response;
                if(parseInt(new_msg_count) > 0) {
                    $("#msg-caption").html("<span class='far fa-comment-alt' aria-hidden='true'></span>&nbsp; Messages" + " (" + new_msg_count + ")");
                }
            }
        };
        xhr.open('GET', "/users/new_notis", true);
        xhr.send('');
    }
</script>


<script>

var ul0 = document.getElementById("list2");
me_email = me_email.replace(/\./g,"ddoott");
var notifRef = firebase.database().ref('notification2/' + me_email);
notifRef.on('child_added', function(snapshot) {
  var key = snapshot.val();
  if (key){
    var key2 = getChildObj(key);
    var sender_name = key2.senderName;
//    window.alert(key2.message);
    var li = document.createElement("div");
    li.style.color = 'black';
    li.style.fontSize = '14';
    li.style.maxWidth = "auto";
    li.style.width = "auto";
    li.innerHTML = "<label style='font-size:14px; font-weight:600;'>" + sender_name + "</label>" + "<div style='color:gray; font-size:12px; margin-left:2px;'>" + timeConverter(Number(key2.time)) +
        "<label style='overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-weight:100; margin-left:8px; float:right; max-width: 160px;'>" + key2.msg + "</label>" + "<label style='color:orange; width:auto; text-align:left; font-size:11px; margin-left:8px;'>Click to contact</label>" + "</div>";
    li.style.textAlign = 'left';
    var ul2 = document.createElement("div");
    var img = document.createElement("img");
    if (key2.senderPhoto.length > 0) img.src = key2.senderPhoto;
    else img.src = "/static/images/manager.jpg";
    img.style.width = "40";
    img.style.height = "40";
    img.style.borderRadius = "50%";
    img.classList.add("cropping");
    img.style.cssFloat = 'right';
    ul2.appendChild(img);
    ul2.append(li);
    ul2.style.marginBottom = "5px";
    ul2.addEventListener('click', function (event) {
       var context = {
            'member_email': key2.sender
       }
       post('/users/to_chat/', context);
       console.log('/users/to_chat/');
    });
    ul0.appendChild(ul2);
  }
});


me_id = document.getElementById("me_id").value;
var notiref2 = firebase.database().ref('notify2/' + me_id);
notiref2.on('child_added', function(snapshot) {
  var key = snapshot.val();
//   console.log(snapshot.key);
  if (key){
    var sender_name = key.sender_name;
    console.log(key.sender_name);
    var li = document.createElement("div");
    li.style.color = 'black';
    li.style.fontSize = '14';
    li.style.maxWidth = "auto";
    li.style.width = "auto";
    var role_caption = "";
    if(key.role == "manager") role_caption = "<div style='color:white; font-size:10px; margin-left:2px; border-radius:3px; background-color:red; width:auto; padding:0px 6px 0px 6px; display:inline-block;'>Manager</div>";
    li.innerHTML = "<div style='font-size:14px; font-weight:600;'>" + sender_name + "</div>"
        + role_caption
        + "<div style='color:gray; font-size:12px; margin-left:2px;'>" + timeConverter(Number(key.date))
        + "<label style='color:orange; width:auto; text-align:left; font-size:11px; margin-left:8px;'>View message</label>"
        + "</div>";
    // li.innerHTML = li.innerHTML + "<div style='font-size:12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;'>" + key.msg + "</div>";
    li.style.textAlign = 'left';
    var ul2 = document.createElement("div");
    var img = document.createElement("img");
    var sender_photo = key.sender_photo;
    if (sender_photo.length > 0) img.src = sender_photo;
    else img.src = "/static/images/ic_profile.png";
    img.style.width = "40";
    img.style.height = "40";
    img.style.borderRadius = "50%";
    img.classList.add("cropping");
    img.style.cssFloat = 'right';
    ul2.appendChild(img);
    ul2.append(li);
    ul2.style.marginBottom = "1px";
    ul2.addEventListener('click', function (event) {
        var type = key.type
        var id = key.id
        var mes_id = key.mes_id
        if(type == 'gchat'){
            window.location = "/users/open_group_chat?group_id=" + id;
        }else if(type == 'cchat'){
            window.location = "/users/open_cohort_chat?cohort=" + id;
        }else {
            window.location = "/users/notifications?noti_id=" + mes_id;
        }
        notiref2.child(snapshot.key).remove();
    });
    ul0.appendChild(ul2);

  }
});



</script>



{% endblock %}
































































